<html>
  <head>
    <title>Solargraph Environment</title>
  </head>
  <h1>
    Solargraph Environment
  </h1>
  <ul>
    <li>
      Platform: <%= RUBY_PLATFORM %>
    </li>
    <li>
      Ruby Version: <%= RUBY_VERSION %>
    </li>
    <li>
      Core Documentation Version: <%= Solargraph::YardMap::CoreDocs.best_match %>
    </li>
  </ul>
</html>
