<!DOCTYPE html>
<html>
    <head>
        <title>Solargraph</title>
        <style>
            a {
                color: inherit;
            }
        </style>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
